{% extends 'admin/adminbase.html' %}

{% block admin-content %}

   <div class="container bg-light ">
    <div class="col-6 mx-auto ">
        <h1 class="display-4">Edit's Student's Record</h1>

        <form action="" method="post" enctype="multipart/form-data" class="flex flex-wrap flex-col -m-2 myform mt-3">
            {% csrf_token %}
            {{form}}
            
            <div class="mb-3">
                <button type="submit"
                  class="bg-green-500 text-white px-3 py-2 rounded hover:bg-green-700 w-full mt-3">Apply </button>
              </div>
        </form>
    </div>
   </div>

{% endblock  %}