 {% extends 'admin/adminbase.html' %}

 {% block admin-content %}

 


 <div class="container mx-auto">
    
        <div class="flex jystify-between mt-4">
            <h1 class="font-sembold text-2xl">{{title|upper}}</h1>
         </div>
        <table class="table table-hover table-dark text-light  mt-3 ">

            <tr>
                <th class="border">ID</th>
                <th class="border ">NAME</th>
                <th class="border">FATHER</th>
                <th class="border">MOTHER</th>
                <th class="border">GENDER</th>
                <th class="border">ADDRESS</th>
                <th class="border">CONTACT</th>
                <th class="border">CLASS</th>
                <th class="border"> ACTION</th>
            </tr>

            {% for student in students %}

        <tr >
            <td class="border">{{student.id}}</td>
            <td class="border ">{{student.full_name}}</td>
            <td class="border">{{student.father_name}}</td>
            <td class="border">{{student.mother_name}}</td>
            <td class="border">{{student.gender}}</td>
            <td class="border">{{student.address}}</td>
            <td class="border">{{student.contact}}</td>
            <td class="border">
                {% if student.isApproved %}
                <a href="{% url 'viewclasswise' student.className.className %}" class="">{{student.className.className}}</a>
                {% else %}
                {{student.className.className}}
                {% endif %}
            </td>
            <td class="border p-2 gap-3 ">
                <a href="{% url 'deleteStudent' student.id %}" class="btn btn-danger rounded " >Delete</a>
                <a href="{% url 'editStudent' student.id %}" class="btn btn-success rounded  ">Edit</a>
                <a href="{% url 'viewStudent' student.id %}" class="btn btn-info rounded ">View</a>
            </td>
        </tr>
        {% endfor  %}

        </table>
    
 </div>

 


 {% endblock  %}