 {% extends 'base.html' %}

 {% block content %}

 <div class="flex">
    <table width="100%">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>father</th>
            <th>mother</th>
            <th>gender</th>
            <th>Address</th>
            <th>Contact</th>
            <th>Action</th>
        </tr>

        {% for student in students %}

        <tr>
            <td>{{student.id}}</td>
            <td>{{student.full_name}}</td>
            <td>{{student.father_name}}</td>
            <td>{{student.mother_name}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.address}}</td>
            <td>{{student.contact}}</td>
            <td></td>
        </tr>
        {% endfor  %}
    </table>
 </div>


 {% endblock  %}