 {% extends 'admin/adminbase.html' %}

 {% block admin-content %}

 


 <div class="container">
    <div class="col-10 mx-auto">
        <div class="flex jystify-between mt-4">
            <h1 class="font-sembold text-2xl">{{title|upper}}</h1>
         </div>
        <table class="table table-hover table-light mt-3">

            <tr>
                <th class="border">id</th>
                <th class="border">name</th>
                <th class="border">father</th>
                <th class="border">mother</th>
                <th class="border">gender</th>
                <th class="border">Address</th>
                <th class="border">Contact</th>
                <th class="border">Class</th>
                <th class="border"> Action</th>
            </tr>

            {% for student in students %}

        <tr>
            <td class="border">{{student.id}}</td>
            <td class="border">{{student.full_name}}</td>
            <td class="border">{{student.father_name}}</td>
            <td class="border">{{student.mother_name}}</td>
            <td class="border">{{student.gender}}</td>
            <td class="border">{{student.address}}</td>
            <td class="border">{{student.contact}}</td>
            <td class="border">
                {% if student.isApproved %}
                <a href="{% url 'viewclasswise' student.className.className %}" class="">{{student.className.className}}</a>
                {% else %}
                {{student.className.className}}
                {% endif %}
            </td>
            <td class="border p-2 gap-2 d-flex">
                <a href="{% url 'deleteStudent' student.id %}" class="btn btn-danger rounded " >Delete</a>
                <a href="{% url 'editStudent' student.id %}" class="btn btn-success rounded  ">Edit</a>
                <a href="{% url 'viewStudent' student.id %}" class="btn btn-info rounded ">View</a>
            </td>
        </tr>
        {% endfor  %}

        </table>
    </div>
 </div>

 


 {% endblock  %}